{% extends "layout.html" %}
<!-- Title on the next line -->
{% block content %}
<!-- Side navigation -->
<div id="accordion">
    <!--Character info-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button"
                    data-bs-target="#collapseOne"
                    data-bs-toggle="collapse" type="button">
                Character Info
            </button>
        </h2>
    </div>

    <form method="POST">
        {{ raceForm.csrf_token }}
        <div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample"
             id="collapseOne">
            <div class="accordion-body">
                <div class="container" style="background-color: #ffffff80; padding: 10px;">
                    <div class="row" style="padding: 5px;">
                        <div class="col">
                            <input id="name" name="name" placeholder="Character Name">
                        </div>
                        <div class="col">
                            <p>Level 1 (higher level character creation under construction)</p>
                        </div>
                        <div class="col">
                            <p>Starting XP: 0</p>
                        </div>

                        <div class="row" style="padding:5px;">
                            <div class="col">
                                {{ raceForm.race }}
                            </div>
                            <div class="col-9">
                                <p style="background-color:white;">description</p>
                            </div>
                        </div>
                        <div class="row" style="padding:5px;">
                            <div class="col">
                                {{ raceForm.subrace }}
                            </div>
                            <div class="col-9">
                                <p style="background-color:white;">description</p>
                            </div>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <div class="col">
                                {{ raceForm.classes }}
                            </div>
                            <div class="col-9">
                                <p style="background-color:white;">description</p>
                            </div>
                        </div>

                        <!--<div class="row" style="padding: 5px;">
                            <div class="col">
                                exist
                            </div>
                            <div class="col-9">
                                <p style="background-color:white;">description</p>
                            </div>
                        </div>-->

                        <div class="row" style="padding: 5px;">
                            <div class="col">
                                <div class="dropdown">
                                    {{ raceForm.background }}
                                </div>
                            </div>
                            <div class="col-9">
                                <p style="background-color:white;">description</p>
                            </div>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <div class="col">
                                <div class="dropdown">
                                    {{ raceForm.alignment }}
                                </div>
                            </div>
                            <div class="col-9">
                                <p style="background-color:white;">description</p>
                            </div>
                        </div>

                    </div> <!--close container-->
                </div>
            </div>
        </div>

        <!--Combat-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button aria-controls="collapseTwo" aria-expanded="true" class="accordion-button"
                        data-bs-target="#collapseTwo"
                        data-bs-toggle="collapse" type="button">
                    Combat Stats
                </button>
            </h2>
        </div>
        <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseTwo">
            <div class="card-body">

                <div class="container" style="background-color: #ffffff80;">
                    <div class="row" style="padding:5px;">
                        <div class="col">
                            <strong>Max HP:</strong> (determined by class at Level 1)
                        </div>
                        <div class="col">
                            <div class="dropdown">
                                <!-- <button class="dropbtn" id="drop11" onclick="myFunction(this)">Select Armor</button>
                                <div class="dropdown-content" id="drop11">
                                    <button class="innerbtn">none</button>
                                    <button class="innerbtn">Hide</button>
                                    <button class="innerbtn">Chain Mail</button>
                                    <button class="innerbtn">Plate Armor</button>
                                </div> -->
                                <strong>Armor:</strong>
                            </div>
                        </div>
                        <div class="col">
                            <strong>AC:</strong>
                        </div>
                        <div class="col">
                            <strong>Speed:</strong> (Determined by Race)
                        </div>
                        <div class="col">
                            <strong> Hit Dice:</strong> (Determined by Class)
                        </div>
                        <div class="col">
                            <strong>Proficiency:</strong> +2
                        </div>
                    </div>

                    <div class="row" style="background-color: white;padding:5px;">
                        <div class="col"></div>
                        <div class="col">
                            <strong>Attacks</strong>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="row" style="padding:5px;">
                        <div class="col">
                            <strong>Name:</strong>
                        </div>
                        <div class="col-4">
                            <strong>Description:</strong>
                        </div>
                        <div class="col">
                            <strong>Bonus:</strong>
                        </div>
                        <div class="col">
                            <strong>Damage/Type:</strong>
                        </div>
                    </div>
                    <!--this is the row that repeats for each weapon/attack-->
                    <div class="row" style="padding:5px;">
                        <div class="col">
                            <div class="dropdown">
                                <!--<button class="dropbtn" id="drop12" onclick="myFunction(this)">Select Attack</button>
                                <div class="dropdown-content" id="drop12">
                                    <button class="innerbtn">punch</button>
                                    <button class="innerbtn">kick</button>
                                    <button class="innerbtn">sword</button>
                                    <button class="innerbtn">-remove-</button>
                                </div>-->
                                <strong>Attacks: </strong>
                            </div>

                        </div>
                        <div class="col-4">
                            <p style="background-color: white;">description</p>
                        </div>
                        <div class="col">

                        </div>
                        <div class="col">

                        </div>
                    </div>
                    <!--end repeat section :)-->
                    <!--<div STYLE="padding:5px;" class="row">
                        <div class="col">
                            <button class="button btn-secondary">Add Attack</button>
                        </div>
                    </div>-->
                    <div class="row" style="background-color: white;padding:5px;">
                        <div class="col"></div>
                        <div class="col">
                            <strong>Proficiencies</strong>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>Name</strong>
                        </div>
                        <div class="col-sm-2">
                            <strong>Class/Race</strong>
                        </div>
                        <div class="col-md-4">
                            <strong>Description</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            Name
                        </div>
                        <div class="col-sm-2">
                            Class/Race
                        </div>
                        <div class="col-md-4">
                            Description
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!--stats-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
                <button aria-controls="collapse3" aria-expanded="true" class="accordion-button"
                        data-bs-target="#collapse3"
                        data-bs-toggle="collapse" type="button">
                    Stats and Skills
                </button>
            </h2>
        </div>
        <div aria-labelledby="heading3" class="collapse" data-parent="#accordion" id="collapse3">
            <div class="card-body">
                <div class="container" style="background-color: #ffffff80;">

                    <div class="row">
                        <div class="col">
                            <center><strong>STR</strong>
                                <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
                                <div class="container" style="width: 100%;">
                                    <div class="input-group plus-minus-input">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="str"
                                                    data-quantity="minus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-minus">-</i>
                                            </button>
                                        </div>
                                        <input class="input-group-field" name="str" type="number" value="8">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="str"
                                                    data-quantity="plus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-plus">+</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="col">
                             <center><strong>DEX</strong>
                                <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
                                <div class="container" style="width: 100%;">
                                    <div class="input-group plus-minus-input">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="dex"
                                                    data-quantity="minus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-minus">-</i>
                                            </button>
                                        </div>
                                        <input class="input-group-field" name="dex" type="number" value="8">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="dex"
                                                    data-quantity="plus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-plus">+</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="col">
                             <center><strong>CON</strong>
                                <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
                                <div class="container" style="width: 100%;">
                                    <div class="input-group plus-minus-input">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="con"
                                                    data-quantity="minus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-minus">-</i>
                                            </button>
                                        </div>
                                        <input class="input-group-field" name="con" type="number" value="8">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="con"
                                                    data-quantity="plus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-plus">+</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="row">
                            <div class="col">
                                 <center><strong>INT</strong>
                                <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
                                <div class="container" style="width: 100%;">
                                    <div class="input-group plus-minus-input">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="int"
                                                    data-quantity="minus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-minus">-</i>
                                            </button>
                                        </div>
                                        <input class="input-group-field" name="int" type="number" value="8">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="int"
                                                    data-quantity="plus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-plus">+</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </center>
                            </div>
                            <div class="col">
                                 <center><strong>WIS</strong>
                                <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
                                <div class="container" style="width: 100%;">
                                    <div class="input-group plus-minus-input">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="wis"
                                                    data-quantity="minus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-minus">-</i>
                                            </button>
                                        </div>
                                        <input class="input-group-field" name="wis" type="number" value="8">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="wis"
                                                    data-quantity="plus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-plus">+</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </center>
                            </div>
                            <div class="col">
                                 <center><strong>CHA</strong>
                                <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
                                <div class="container" style="width: 100%;">
                                    <div class="input-group plus-minus-input">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="cha"
                                                    data-quantity="minus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-minus">-</i>
                                            </button>
                                        </div>
                                        <input class="input-group-field" name="cha" type="number" value="8">
                                        <div class="input-group-button">
                                            <button class="button hollow circle" data-field="cha"
                                                    data-quantity="plus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-plus">+</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </center>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="background-color: white;padding:5px; margin-top: 10px; margin-bottom: 10px;">
                        <div class="col"></div>
                        <div class="col">
                            <strong>Proficiencies</strong> (currently auto generated by class, race, and background)
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Acrobatics
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="acrobatics" id="acrobatics" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Animal Handling
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="animalhandling" id="animalhandling" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Arcana
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="arcana" id="arcana" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Athletics
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="athletics" id="athletics" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Deception
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="deception" id="deception" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            History
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="history" id="history" type="checkbox">
                                    </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Insight
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="insight" id="insight" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Intimidation
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="intimidation" id="intimidation" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Investigation
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="investigation" id="investigation" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Medicine
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="medicine" id="medicine" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Nature
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="nature" id="nature" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Perception
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="perception" id="perception" type="checkbox">
                                    </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Performance
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="performance" id="performance" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Persuasion
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="persuasion" id="persuasion" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Religion
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="religion" id="religion" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Sleight of Hand
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="sleightofhand" id="sleightofhand" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Stealth
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="stealth" id="stealth" type="checkbox">
                                    </div>-->
                        </div>
                        <div class="col">
                            Survival
                            <!--<div class="mb-3 form-check">
                                        <input name="skill" class="form-check-input" value="survival" id="survival" type="checkbox">
                                    </div>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!--feats-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading4">
                <button aria-controls="collapse4" aria-expanded="true" class="accordion-button"
                        data-bs-target="#collapse4"
                        data-bs-toggle="collapse" type="button">
                    Feats and Traits (All chosen by race and class above, will display in char page)
                </button>
            </h2>
        </div>
        <div aria-labelledby="heading4" class="collapse" data-parent="#accordion" id="collapse4">
            <div class="card-body">
                <div class="container" style="background-color: #ffffff80;">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>Name</strong>
                        </div>
                        <div class="col-sm-2">
                            <strong>Class/Race</strong>
                        </div>
                        <div class="col-md-4">
                            <strong>Description</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <!--inventory-->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button aria-controls="collapse6" aria-expanded="true" class="accordion-button"
                            data-bs-target="#collapse6"
                            data-bs-toggle="collapse" type="button">
                        Inventory/Notes
                    </button>
                </h2>
            </div>
            <div aria-labelledby="heading6" class="collapse" data-parent="#accordion" id="collapse6">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text">Inventory</span>
                                    <textarea aria-label="With textarea" class="form-control"
                                              style="height: 300px;"></textarea>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text">Notes</span>
                                    <textarea aria-label="With textarea" class="form-control"
                                              style="height: 300px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <input type="submit">
    </form>
</div>
    <script>
        let race_select = document.getElementById('race');
        let subrace_select = document.getElementById('subrace');

        race_select.onchange = function() {
            race_id = race_select.value;

            fetch('/character_builder/subrace/' + race_id).then(function(response) {
               response.json().then(function(data) {
                    let optionHTML = '';
                    for (let subrace of data.subraces){
                        optionHTML += '<option value="' + subrace.pk_subrace + '">' + subrace.subrace_name + '</option>'
                    }

                    subrace_select.innerHTML = optionHTML;

               });
            });
        }
    </script>
{% endblock %}
