{% extends "layout.html" %}
<!-- Title on the next line -->
{% block content %}
<!-- Side navigation -->
{% if character %}
  {% for char_id, character in character %}
  <div id="accordion">
      <!--Character info-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{character.name}}'s Info
          </button>
      </h2>
      </div>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <div class = "container" style = "background-color: #ffffff80; padding: 10px;">
            <div class="row" style="margin: 5px;">
          <div class="col">
                Race: {{character.race}}
            </div><div class="col">
              Class: {{ character.char_class }}
              </div><div class="col">
                    Alignment: {{character.alignment}}
                </div><div class="col">
                 Background: {{character.background}}
            </div><div class="col">
              Level: {{character.level}}
          </div><div class="col">
                XP = {{character.exp}}
            </div>
        </div>
        </div>
      </div>
    </div>


    <!--Combat-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Combat Stats
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">

<div class="container" style = "background-color: #ffffff80;">
    <div class="row">
        <div class="col">
            <strong>HP:</strong> {{ character.current_hp }}/{{ character.total_hp }}
        </div>
        <div class="col">
            <strong>AC:</strong> 18
        </div>
        <div class="col">
            <strong>Speed:</strong> {{ character.speed }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong> Temp HP:</strong> 0
        </div>
        <div class="col">
            <strong>Hit Dice:</strong> 6
        </div>
        <div class="col">
            Death Saves:
                <div class="row">
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          </div>
                          <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>Attacks</strong>
        </div>
        <div class="col">
            <strong>Proficiency:</strong> +2
        </div>
    </div>
    <div class="row">
        <div class="col">
    <strong>Name:</strong>
        </div>
        <div class="col">
            <strong>Bonus:</strong>
        </div>
        <div class="col">
            <strong>Damage/Type:</strong>
        </div>
    </div>
    <div class="row">
        <div class="col">
    Knife
        </div>
        <div class="col">
            +3
        </div>
        <div class="col">
            1d6 Piercing
        </div>
    </div>
    <div class="row" style="background-color: white;padding:5px;">
                        <div class="col"></div>
                        <div class="col">
                            <strong>Proficiencies</strong>
                            <div class="col"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>Name</strong>
                        </div>
                        <div class="col-sm-2">
                            <strong>Class/Race</strong>
                        </div>
                        <div class="col-md-4">
                            <strong>Description</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            Name
                        </div>
                        <div class="col-sm-2">
                            Class/Race
                        </div>
                        <div class="col-md-4">
                            Description
                        </div>
                    </div>
</div>

        </div>
      </div>

    <!--stats-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading3">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
            Stats and Skills
          </button>
        </h2>
      </div>
      <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
        <div class="card-body">
          <div class="container" style = "background-color: #ffffff80;">

            {% if skills %}
            {% for char_id, skill_prof in skills %}
            <div class="row">
                <div class="col">
                    <strong>STR:</strong> {{ character.strength }}
                    <ul>
                        <li>{{ skill_prof.strength }}</li>
                    </ul>
                </div>
                <div class="col">
                    <strong>DEX:</strong> {{ character.dexterity }}
                    <ul>
                        <li>{{ skill_prof.dexterity }}</li>
                    </ul>
                </div>
                <div class="col">
                    <strong>CON:</strong> {{ character.constitution }}
                    <ul>
                        <li>{{ skill_prof.constitution }}</li>
                    </ul>
                </div>
                <div class="col">
                    <strong>INT:</strong> {{ character.intelligence }}
                    <ul>
                        <li>{{ skill_prof.intelligence }}</li>
                    </ul>
                </div>
                <div class="col">
                    <strong>WIS:</strong> {{ character.wisdom }}
                    <ul>
                        <li>{{ skill_prof.wisdom }}</li>
                    </ul>
                </div>
                <div class="col">
                    <strong>CHA:</strong> {{ character.charisma }}
                    <ul>
                        <li>{{ skill_prof.charisma }}</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col">
                            Strength Saving Throw
                            <ul>
                                <li>{{ skill_prof.strength_saving_throw }}</li>
                            </ul>
                        </div>
                        <div class="col">
                            Dexterity Saving Throw
                            <ul>
                                <li>{{ skill_prof.dexterity_saving_throw }}</li>
                            </ul>
                        </div>
                        <div class="col">
                            Constitution Saving Throw
                            <ul>
                                <li>{{ skill_prof.constitution_saving_throw }}</li>
                            </ul>
                        </div>
                        <div class="col">
                            Intelligence Saving Throw
                            <ul>
                                <li>{{ skill_prof.intelligence_saving_throw }}</li>
                            </ul>
                        </div>
                        <div class="col">
                            Wisdom Saving Throw
                            <ul>
                                <li>{{ skill_prof.wisdom_saving_throw }}</li>
                            </ul>
                        </div>
                        <div class="col">
                            Charisma Saving Throw
                            <ul>
                                <li>{{ skill_prof.charisma_saving_throw }}</li>
                            </ul>
                        </div>
                    </div>
               </div>
            <div class="row">
                <div class="col">
                    Acrobatics
                    <ul>
                        <li>{{ skill_prof.acrobatics }}</li>
                    </ul>
                </div>
                <div class="col">
                    Animal Handling
                    <ul>
                        <li>{{ skill_prof.animal_handling }}</li>
                    </ul>
                </div>
                <div class="col">
                    Arcana
                    <ul>
                        <li>{{ skill_prof.arcana }}</li>
                    </ul>
                </div>
                <div class="col">
                    Athletics
                    <ul>
                        <li>{{ skill_prof.athletics }}</li>
                    </ul>
                </div>
                <div class="col">
                    Deception
                    <ul>
                        <li>{{ skill_prof.deception }}</li>
                    </ul>
                </div>
                <div class="col">
                    History
                    <ul>
                        <li>{{ skill_prof.history }}</li>
                    </ul>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    Insight
                    <ul>
                        <li>{{ skill_prof.insight }}</li>
                    </ul>
                </div>
                <div class="col">
                    Intimidation
                    <ul>
                        <li>{{ skill_prof.intimidation }}</li>
                    </ul>
                </div>
                <div class="col">
                    Investigation
                    <ul>
                        <li>{{ skill_prof.investigation }}</li>
                    </ul>
                </div>
                <div class="col">
                    Medicine
                    <ul>
                        <li>{{ skill_prof.medicine }}</li>
                    </ul>
                </div>
                <div class="col">
                    Nature
                    <ul>
                        <li>{{ skill_prof.nature }}</li>
                    </ul>
                </div>
                <div class="col">
                    Perception
                    <ul>
                        <li>{{ skill_prof.perception }}</li>
                    </ul>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    Performance
                    <ul>
                        <li>{{ skill_prof.performance }}</li>
                    </ul>
                </div>
                <div class="col">
                    Persuasion
                    <ul>
                        <li>{{ skill_prof.persuasion }}</li>
                    </ul>
                </div>
                <div class="col">
                    Religion
                    <ul>
                        <li>{{ skill_prof.religion }}</li>
                    </ul>
                </div>
                <div class="col">
                    Sleight of Hand
                    <ul>
                        <li>{{ skill_prof.sleight_of_hand }}</li>
                    </ul>
                </div>
                <div class="col">
                    Stealth
                    <ul>
                        <li>{{ skill_prof.stealth }}</li>
                    </ul>
                </div>
                <div class="col">
                    Survival
                    <ul>
                        <li>{{ skill_prof.survival }}</li>
                    </ul>
                </div>
            </div>


            {% endfor %}
            {% endif %}
            </div>

          </div>

        </div>
      </div>


  <!--feats-->
  <div class="accordion-item">
      <h2 class="accordion-header" id="heading4">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            Feats and Traits
        </button>
      </h2>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
      <div class="card-body">
        <div class="container" style = "background-color: #ffffff80;">
            <div class="row">
                <div class="col-sm-2">
                    <strong>Name</strong>
                </div>
                <div class="col-sm-2">
                    <strong>Class/Race</strong>
                </div>
                <div class="col-md-4">
                    <strong>Description</strong>
                </div>
                {% if traits %}
                {% for id, trait in traits %}

                <div class="row">
                    <div class="col-sm-2">
                        {{ trait.name }}
                    </div>
                    <div class="col-sm-2">
                        {{ trait.origin }}
                    </div>
                    <div class="col-md-4">
                        {{ trait.description }}<br>
                    </div>
            </div>
                <br>
                {% endfor %}
                {% endif %}
        </div>
      </div>
    </div>
  </div>


<!--inventory-->
<div class="accordion-item">
      <h2 class="accordion-header" id="heading6">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
            Inventory/Notes
        </button>
      </h2>
    </div>
    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
      <div class="card-body">
          <div class = "container">
              <div class = "row">
                  <div class = "col">
                      <div class="input-group">
            <span class="input-group-text">Inventory</span>
            <textarea class="form-control" aria-label="With textarea" style = "height: 300px;"></textarea>
          </div>
                  </div>
                  <div class = "col">
                      <div class="input-group">
            <span class="input-group-text">Notes</span>
            <textarea class="form-control" aria-label="With textarea" style = "height: 300px;"></textarea>
          </div>
                  </div>
              </div>
          </div>



      </div>
    </div>

</div>
{% endfor %}
{% endif %}
{% endblock %}
