{% extends "layout.html" %}
<!-- Title on the next line -->
{% block content %}
<!-- Side navigation -->
<div class="grid-container">
    <div class="character-container">
        {% if characters %}
            {% for char_id, user_char in characters %}
            <div class="grid-item" id="Content">
                <div class="characterbox" style ="background-color = rgba(255,255,255,.5);">
                    <a href="{{url_for('characterpage', char_name = 'Testy')}}">{{user_char.char_name}}</a><br>
                    <p>Race: "{{user_char.subrace_name}}"<br>Class: "{{user_char.class_name}}"<br>Level: "{{user_char.char_lvl}}"<br></p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='diceroller.js') }}"></script>

    {% include "diceroller.html" %}

</div>
{% endblock %}