{% extends "layout.html" %}
<!-- Title on the next line -->
{% block content %}
<!-- Side navigation -->
<header style="background-color: #ffffffc0; border-radius: 12px; padding: 5px; margin: 5px; display: flex;
  justify-content: center;"><h3>My Campaigns</h3></header>
<div class="grid-container">
    <div class="character-container">
        <!-- TO BE REPLACED WITH FOR LOOP FOR CHARACTERS -->
        <div class="grid-item" id="Content" >
            <div class="characterbox" style="background-color: rgba(255,255,255,.5); margin: 5px;">
                Campaign Name<br>
                <p>DM: DM name<br>Player: Player Name<br>Player: Player Name<br>Player: Player Name<br>Player: Player Name</p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='diceroller.js') }}"></script>

    {% include "diceroller.html" %}

</div>
{% endblock %}